# Project Dependencies and Build Artifacts

# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
**/coverage/

# Production
**/build/
**/dist/

# Misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/env/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/.venv
**/venv/
**/ENV/

# Rust
**/target/
**/*.rs.bk
**/Cargo.lock

# Haskell
**/dist
**/dist-*
**/cabal-dev
**/*.o
**/*.hi
**/*.hie
**/*.chi
**/*.chs.h
**/*.dyn_o
**/*.dyn_hi
**/.hpc
**/.hsenv
**/.cabal-sandbox/
**/cabal.sandbox.config
**/*.prof
**/*.aux
**/*.hp
**/*.eventlog
**/.stack-work/
**/cabal.project.local
**/cabal.project.local~
**/.HTF/
**/.ghc.environment.*

# OCaml
**/_build/
**/*.install
**/*.native
**/*.byte
**/*.cmi
**/*.cmo
**/*.cmx
**/*.cma
**/*.cmxa
**/*.cmxs
**/.merlin
**/_opam/

# IDE
**/.idea/
**/.vscode/
**/*.swp
**/*.swo

# C++ specific
**/build/
**/vcpkg_installed/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.a
backend/cpp/build/
backend/cpp/vcpkg_installed/
backend/cpp/.cache/
backend/cpp/compile_commands.json
*.obj
*.app


# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rprofile