---
import HWCalculator from '../components/HWCalculator';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hardy-Weinberg Calculator</title>
  </head>
  <body class="min-h-screen bg-background">
    <main class="container py-8">
      <HWCalculator client:load />
    </main>
  </body>
</html>